.chatbot-container {
  height: calc(100vh - 50px);
  padding: 20px;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 14.5px 20px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.chat-input {
  font-size: 15px;
  padding: 12px 15px;
  border-width: 1px;
  border-radius: 10px;
  margin-right: 10px;
}

.input-container {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

.input-container input {
  width: 100%;
}

.welcome-message {
  color: rgb(120, 120, 120);
  text-align: center;
  margin-top: 20px;
}

.chat-message-container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  overflow: scroll;
  scrollbar-width: none;
}

.chat-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  gap: 20px;
  width: 100%;
}

.chat-message-user {
  justify-content: right;
}

.chat-message-robot {
  justify-content: left;
}

.chat-message-contents {
  background-color: rgb(238, 238, 238);
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 150px;
  margin-top: 0;
  margin-bottom: 0;
  overflow-wrap: break-word;
}

.input-controller-text {
  display: flex;
  justify-content: end;
  border: none;
  background: none;
  color: rgb(25, 135, 84);
  cursor: pointer;
  text-decoration: underline;
  margin: 0 auto;
  font-size: 20px;
}

.input-chatbot-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}

.input-chatbot-container.input-bottom {
  justify-content: space-between;
}

.input-chatbot-container.input-bottom .input-container {
  margin-top: 30px;
}

.dot-loader {
  display: inline-block;
  width: 40px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #555 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: dot-flash 1s infinite linear;
}

@keyframes dot-flash {
  0% {
    background-position: 0% 50%, 50% 50%, 100% 50%;
    opacity: 1;
  }

  33% {
    opacity: 0.6;
  }

  66% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}